<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en el CommonModule.</p>
</div>
<div class="p-grid">
    <div class="p-col-12 p-sm-4">
        <p-card header="uppercase" [subheader]="nombreLower | uppercase">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-12 p-sm-4">
        <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="p-col-12 p-sm-4">
        <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>
<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipes para mostrar las fechas.</p>
</div>
<div class="p-grid">
    <div class="p-col-12 p-sm-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'dd/MM/yyyy'</li>
                <li>fecha | date: 'dd-MM-yyyy HH:mm:ss'</li>
                <li>fecha | date: 'dd-MM-yyyy hh:mm:ss'</li>
                <li>fecha | date: 'dd-MM-yyyy hh:mm:ss' | lowercase</li>
                <li>{{ fecha | date: 'MMMM dd, yyyy' }}</li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-12 p-sm-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date: 'short' }}</li>
                <li>{{ fecha | date: 'long' }}</li>
                <li>{{ fecha | date: 'dd/MM/yyyy' }}</li>
                <li>{{ fecha | date: 'dd-MM-yyyy HH:mm:ss' }}</li>
                <li>{{ fecha | date: 'dd-MM-yyyy hh:mm:ss a' }}</li>
                <li>{{ fecha | date: 'dd-MM-yyyy hh:mm:ss a' | lowercase }}</li>
                <li>{{ fecha | date: 'MMMM dd, yyyy' }}</li>
            </ul>
        </p-card>
    </div>
</div>