<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>
<div class="p-grid">
    <div class="p-sm-12 p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer 
                {{ genero | i18nSelect: invitacionMapa }} 
                a nuestro evento.
            </p>
            <button type="button" (click)="cambiarCliente()" title="Cambiar persona" label="Cambiar persona" pButton icon="pi pi-refresh" iconPos="left"  class="p-button-warning"></button>
        </p-fieldset>
    </div>    
    <div class="p-sm-12 p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{ clientes.length | i18nPlural: clientesMapa }}</p>
            <button type="button" (click)="borrarCliente()" title="Borrar cliente" label="Borrar cliente" pButton icon="pi pi-trash" iconPos="left"  class="p-button-danger"></button>            
        </p-fieldset>
    </div>    
</div>



